In [3]:
import pandas as pd
pd.__version__

'1.1.3'

In [5]:
arr=[0,1,2,3,4]
df=pd.Series(arr)
df

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [6]:
dates=pd.date_range("today",periods=6)
dates

DatetimeIndex(['2021-06-10 21:59:34.778767', '2021-06-11 21:59:34.778767',
               '2021-06-12 21:59:34.778767', '2021-06-13 21:59:34.778767',
               '2021-06-14 21:59:34.778767', '2021-06-15 21:59:34.778767'],
              dtype='datetime64[ns]', freq='D')

In [11]:
import numpy as np
num_arr = np.random.randn(6,4)#rand函数根据给定维度生成[0,1)之间的数据，包含0，不包含1
columns=["a","b","c","d"]#列名
df=pd.DataFrame(num_arr,index=dates,columns=columns)
df

                                   a         b         c         d
2021-06-10 21:59:34.778767 -0.679198 -0.614369  0.056727  0.501647
2021-06-11 21:59:34.778767  1.398022 -2.246567 -0.067774 -0.104380
2021-06-12 21:59:34.778767  0.721407 -0.998607 -1.812100 -0.758304
2021-06-13 21:59:34.778767  0.561956 -0.069906  1.225146  1.251780
2021-06-14 21:59:34.778767 -0.905648 -0.731763  1.220031 -2.558438
2021-06-15 21:59:34.778767  2.694162  0.809917  0.531216  0.207390

In [13]:
#df = pd.read_csv('test.csv',encoding="gdk, sep=';')

In [32]:
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5,2 , 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  2.0       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       9 non-null      object
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: int64(1), object(3)
memory usage: 400.0+ bytes

In [20]:
df.iloc[:3]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat    3       3      yes
c  snake  0.5       2       no

In [21]:
df.loc[:,['animal','age']]

  animal  age
a    cat  2.5
b    cat    3
c  snake  0.5
d    dog
e    dog    5
f    cat    2
g  snake  4.5
h    cat  NaN
i    dog    7
j    dog    3

In [26]:
df.loc[df.index[[3,4,8]],['animal','age']]

  animal age  visits priority
d    dog           3      yes
e    dog   5       2       no
i    dog   7       2       no

In [29]:
df[df['age']>3]

  animal  age  visits priority
e    dog  5.0       2       no
g  snake  4.5       1       no
i    dog  7.0       2       no

In [31]:
df[df['age'].isnull()]

  animal  age  visits priority
h    cat  NaN       1      yes

In [33]:
df[(df['age']>2)&(df['age']<4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no

In [34]:
df.loc["f",'age']=1.5

In [36]:
df['visits'].sum()

19